<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
<p>
    Джеймс Бонд англ. James Bond агент секретной службы МИ-6 Джеймс Бонд (в исполнении Шона Коннери) агент секретной службы МИ-6 Джеймс Бонд (в исполнении Шона Коннери)
    Создатель	Ян Флеминг Произведения	Бондиана Пол	мужской Commons-logo.svg Файлы на Викискладе Сэр Джеймс Бонд (англ. James Bond), коммандер Военно-морского флота Великобритании,
    также известный как «агент 007» — главный персонаж романов британского писателя Яна Флеминга о вымышленном агенте MI6. Получил широкую популярность после начала экранизации романов Флеминга.
    Серия фильмов о Джеймсе Бонде именуется «бондианой» и является одной из самых продолжительных серий фильмов в истории. С 1962 по 2015 годы вышли 24 фильма (в среднем один фильм в два года).
    Серия принесла её создателям более 7 млрд долларов США, став четвёртым по успешности киносериалом в истории. Отличительными качествами Бонда являются: авантюризм, решительность, нацеленность на силовое решение конфликтов.
</p>
    <P>Go to <a href="contacts">contacts</a> </P>
    <P>Go to <a href="greeting">greeting</a> </P>
    <P>Go to <a href="http://localhost:8080/">homepage</a> </P>
</head>
<body>

</body>
</html>